<md-toolbar layout="row" layout-align="start center" class="">
	<section flex layout-padding  layout-align="start center" layout="row" layout-align="start center">
		<div ng-repeat="button in buttons" >
			<md-button ng-if="button.type === 'button'" ui-sref="{{button.url}}" ng-click="$event.stopPropagation()" ng-class="button.class">{{button.value	| translate}}</md-button>
			<h3 ng-if="button.type === 'title'" >
				<span>{{button.value | translate}}</span>
			</h3>
		</div>
	</section>
	<section flex layout="row" layout-align="center center">
			<h4 ng-repeat="title in titles" style=padding-left:60px;>
				<span ng-bind-html="title.value | translate:title.paramData"></span>
			</h4>
	</section>
	<section flex layout-padding layout="row" layout-align="end center">
			<md-button ng-href="http://www.cclearly.com" target="_blank" aria-label="logo">
				<img border="0" alt="" src="assets/images/FF_Cclearly_LO_white_100x45.png" style="width:80px;">
			</md-button>
	</section>
	

</md-toolbar>
